li, ul
    padding: 0
    list-style: none

.page
    display: flex
    justify-content: center
    align-items: center 

.feed
    border: 1px #b0b0b0
    
.answerImage
    object-fit: contain
    margin: 0.5em
    display: block
    margin-left: auto
    margin-right: auto
    max-width: 100%
    max-height: 100%

.profilePicture
    width: 36px
    height: 36px
    margin-right: 0.5em

.qWithA
    margin-bottom: 16px

    .answer
        margin-top: 16px

    .question, .answer
        max-width: 30rem
        display: flex
        align-items: flex-start 
        justify-content: center
        flex-flow: column

        .qText, .aText
            font-size: 18px
            margin: 0.5em

        .qUsername
            color: #B0B0B0

        .qDisplayname
            cursor: pointer
            
        .imgContainer
            width: 100%
            display: flex                                                                                                                            
            align-items: center
            justify-content: center
            max-width: 480px
            max-height: 480px
            overflow: hidden

        .textCenter
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            overflow-wrap: anywhere
        
        .horizontal
            display: flex
            flex-flow: row

        .vertical
            display: flex
            flex-flow: column
            