<div class="page mat-app-background">
    <div class="placeholder"></div>
    <mat-card>
        <mat-card-content id="feed">  
            <h2 style="margin-bottom: 8px;">Feed</h2>
            <mat-divider></mat-divider>

            <ul>  
                <li *ngFor="let q of questions" class="qWithA">
                    <div class="question">
                        <div class="horizontal">
                            <img class="profilePicture" src="{{ uploadsUrl }}PagChomp.png" alt="Profile image">
                            <div class="vertical">
                                <div>
                                    <span id="{{ q.Question.Sender.Username }}" class="qDisplayname" (click)="redirectToUser($event)">{{ q.Question.Sender.Displayname }}</span> 
                                    <span> asked:</span> 
                                </div>
                                <span>{{ q.Question.DateTime.date }}</span> 
                            </div>
                        </div>
                        <div class="textCenter">
                            <span class="qText">{{ q.Question.Text }}</span> 
                        </div>
                         
                    </div>
                    <div class="answer">
                        <div class="horizontal">
                            <img class="profilePicture" src="{{ uploadsUrl }}PagChomp.png" alt="Profile image">
                            <div class="vertical">
                                <div>
                                    <span id="{{ q.Question.Receiver.Username }}" class="qDisplayname" (click)="redirectToUser($event)">{{ q.Question.Receiver.Displayname }}'s</span> 
                                    <span> answer:</span> 
                                </div>
                                <span>{{ q.Question.DateTime.date }}</span> 
                            </div>
                        </div>
                        <div class="textCenter">
                            <span class="aText">{{ q.Text }}</span>  
                        </div>

                        <div class="imgContainer">
                            <img *ngIf="q.Image != null" class="answerImage" src="{{ uploadsUrl }}tn{{  q.Image  }}" alt="Answer image" (click)="openDialog(q.Image)">
                        </div>
                    </div>
                    <mat-divider></mat-divider>

                </li>  

            </ul>  

    
        </mat-card-content> 

    </mat-card>
    <ng-template #dynamic id="sideProfile"></ng-template>

</div>
