<div class="page">
    <mat-card>
        <mat-card-content id="feed">  

            <ul>  
                <li *ngFor="let q of questions" class="qWithA">
                    <div class="question">
                        <div class="horizontal">
                            <img class="profilePicture" src="{{ uploadsUrl }}PagChomp.png" alt="Profile image">
                            <div class="vertical">
                                <span class="qDisplayname">{{ q.Question.Sender.Displayname }} asked:</span> 
                                <span>{{ q.Question.DateTime.date }}</span> 
                            </div>
                        </div>
                        <div class="textCenter">
                            <span class="qText">{{ q.Question.Text }}</span> 
                        </div>
                         
                    </div>
                    <mat-divider></mat-divider>
                    <div class="answer">
                        <div class="horizontal">
                            <img class="profilePicture" src="{{ uploadsUrl }}PagChomp.png" alt="Profile image">
                            <div class="vertical">
                                <span class="qDisplayname">{{ q.Question.Receiver.Displayname }}'s answer: </span> 
                                <span>{{ q.Question.DateTime.date }}</span> 
                            </div>
                        </div>
                        <div class="textCenter">
                            <span class="aText">{{ q.Text }}</span>  
                        </div>

                        <div class="imgContainer">
                            <img class="answerImage" src="{{ uploadsUrl }}{{  q.Image  }}" alt="Answer image">
                        </div>
                    </div>
                    <mat-divider></mat-divider>

                </li>  

            </ul>  

    
        </mat-card-content> 
    </mat-card>
    
</div>
