<div class="container">
    <h2 *ngIf="this.data.queryName == 'followers'">{{ this.data.user.Username }}'s followers</h2>
    <h2 *ngIf="this.data.queryName == 'following'">{{ this.data.user.Username }}'s followed users</h2>
    <mat-divider></mat-divider>
  <ul>
    <li class="userContainer" *ngFor="let user of users; let i = index">
      <div id="profileVerticalContainer">
        <div id="profPicAndName">
          <img
            class="profilePicture"
            src="{{ uploadsUrl }}{{ user.ProfileInfo.ProfilePicture }}"
            alt="Profile image"
          />
          <div id="namesContainer">
            <span class="userName" (click)="redirectToUser(user.Username)">{{ user.Displayname }}</span>
          </div>
        </div>
        <div *ngIf="this.loggedInUser != null" id="{{user.ProfileInfo.UserID}}">
          <button
            mat-raised-button
            *ngIf="this.loggedInUser.id != user.id"
            color="primary"
            class="fButton"
            (click)="followUser(user)"
            id="follow{{user.ProfileInfo.UserID}}"
          >
            Follow
          </button>
          <button
            mat-stroked-button
            *ngIf="this.loggedInUser.id != user.id"
            color="primary"
            class="fingButton"
            (click)="unfollowUser(user)"
            id="following{{user.ProfileInfo.UserID}}"
          >
            Following
          </button>
        </div>
        <mat-divider></mat-divider>

      </div>
    </li>
  </ul>
</div>
