.searchMenu
  width: 400px
  margin: 16px

.navButton
  margin-top: 13px
  height: 64px

.toolbar
  display: flex
  justify-content: flex-start
  position: sticky
  top: 0
  z-index: 9999

  .items
    width: 100%
    display: flex
    align-items: cenetr


  #searchBar
    width: 160px

  .navSearch
    width: 100%
    text-align: right
    margin-right: 15px
