.searchMenu
    width: 400px
    margin: 16px

.navButton
    margin-top: 13px
    height: 64px

.toolbar
    display: flex
    justify-content: flex-start

    .items
        width: 100%
        display: flex
        align-items: cenetr
        justify-content: space-between