<div class="page" *ngIf="user != null else notfound">
    <mat-card>
        <mat-card-content id="profile">  
            <div id="profileVerticalContainer">
                <div id="profPicAndName">
                    <img class="profilePicture" src="{{ uploadsUrl }}{{ user.ProfileInfo.ProfilePicture }}" alt="Profile image">
                    <div id="namesContainer">
                        <span>{{ user.Username }}</span>
                        <span>{{ user.Displayname }}</span>
                    </div>
                    
                </div>
                <div id="countsContainer">
                    <span>Favourites: {{ profileInfo.favouriteCount }}</span>
                    <span>Followers: {{ profileInfo.followerCount }}</span>
                    <span>Following: {{ profileInfo.followingCount }}</span>
                </div>
            </div>
            
            <div id="bioContainer">
                <span>{{ user.ProfileInfo.Bio }}</span>
            </div>
            
    
        </mat-card-content> 
    </mat-card>
    <mat-card>
        <mat-card-content>  
            <form (ngSubmit)="sendQuestion($event)" id="askBox">
                <mat-form-field appearance="outline" id="textInput">
                    <mat-label>Ask {{ user.Displayname }} something</mat-label>
                    <input matInput name="question" [formControl]="formControl" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="formControl.hasError('required')">
                        Field is required
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button type="submit" color="primary" id="sendButton">Send</button>
            </form>
            


        </mat-card-content> 
    </mat-card>

    <mat-card>
        <mat-card-content id="feed">  

            <ul>  
                <li *ngFor="let q of answers" class="qWithA">
                    <div class="question">
                        <div class="horizontal">
                            <img class="profilePicture" src="{{ uploadsUrl }}PagChomp.png" alt="Profile image">
                            <div class="vertical">
                                <span class="qDisplayname">{{ q.Sender.Displayname }} asked:</span> 
                                <span>{{ q.DateTime.date }}</span> 
                            </div>
                        </div>
                        <div class="textCenter">
                            <span class="qText">{{ q.Text }}</span> 
                        </div>
                         
                    </div>
                    <mat-divider></mat-divider>
                    <div class="answer">
                        <div class="horizontal">
                            <img class="profilePicture" src="{{ uploadsUrl }}PagChomp.png" alt="Profile image">
                            <div class="vertical">
                                <span class="qDisplayname">{{ q.Receiver.Displayname }}'s answer: </span> 
                                <span>{{ q.DateTime.date }}</span> 
                            </div>
                        </div>
                        <div class="textCenter">
                            <span class="aText">{{ q.Answer.Text }}</span>  
                        </div>

                        <div class="imgContainer">
                            <img *ngIf="q.Answer.Image != null" class="answerImage" src="{{ uploadsUrl }}{{  q.Answer.Image  }}" alt="Answer image">
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </li>  
            </ul>  

        </mat-card-content> 
    </mat-card>
    
</div>

<ng-template #notfound>
    <mat-card>
        <mat-card-content>
            <div style="text-align: center;">
                User not found.
            </div>
        </mat-card-content>
    </mat-card>
</ng-template>
